//line height should be between 120%-145% or 1.2-1.45 unitless#
//to get line-height, browser will multiply font-size by the % or unitless #
$lineHeight: 1.5;
    //APPLIED FONT SIZES
        $captionFontSize: $fontSize16;
        $pFontSize: $fontSize18;
            $pMaxWidth: $pFontSize * 40;// between 30-50
        $navFontSize: $fontSize22;

        $h1FontSize: $fontSize48;
        $h2FontSize: $fontSize32;
        $h3FontSize: $fontSize26;
        $h4FontSize: $fontSize22;
        $h5FontSize: $fontSize18;
        $h6FontSize: $fontSize16;





//==========================================================================
//HEIGHT AND WIDTH SIZES
//========================================================================== 
// $headerFooterLineBreakSize: $fontSize2;//$fontSize4;

$navSize : $navFontSize * 2;
$footerSize: $navSize * 2.5;

	$xsmallHeaderSize: $navSize * 1.75;
    $mediumHeaderSize: $navSize * 2;

$xsmallNavLineHeight: $xsmallHeaderSize * 0.75;
$mediumNavLineHeight: $mediumHeaderSize;

$naviconSize: $navFontSize;
    $naviconPadding: ( $xsmallHeaderSize - $naviconSize ) / 2;

$iconSize: $fontSize40; //finger tip size

//==========================================================================
//   BREAKPOINTS 
//========================================================================== 
//target / context
$bp-xsmall-min: $fontSize1 * 341 ;
$bp-xsmall-max: $fontSize1 * 480 ;

$bp-small-min: $fontSize1 * 481;
$bp-small-max: $fontSize1 * 520 ;

$bp-medium-min: $fontSize1 * 521 ;
$bp-medium-max: $fontSize1 * 800 ;

$bp-large-min: $fontSize1 * 801;
$bp-large-max: $fontSize1 * 1200 ;

$bp-xlarge-min: $fontSize1 * 1201 ;   
$bp-xlarge-max: $fontSize1 * 1441 ;   
//========================================================================== 
//  COLUMN SIZES/ Grid
//========================================================================== 

$colMargin: 2%;
$colMarginPair: $colMargin * 2;

// 12 columns
// 24 margins (2 per column)
// (100 - 12($colMargin * 2)) / 12 = $col1

$col1: (100 - ($colMarginPair * 12)) / 12 ;
$col2: ($col1 * 2) + $colMarginPair; 
$col3: ($col1 * 3) + ($colMarginPair * 2); 
$col4: ($col1 * 4) + ($colMarginPair * 3); 
$col5: ($col1 * 5) + ($colMarginPair * 4); 
$col6: ($col1 * 6) + ($colMarginPair * 5); 
$col7: ($col1 * 7) + ($colMarginPair * 6); 
$col8: ($col1 * 8) + ($colMarginPair * 7); 
$col9: ($col1 * 9) + ($colMarginPair * 8); 
$col10: ($col1 * 10) + ($colMarginPair * 9); 
$col11: ($col1 * 11) + ($colMarginPair * 10); 
$col12: ($col1 * 12) + ($colMarginPair * 11); 

