//____________________________________________________
//navicon (only available for xsmall screens in browsers that support mediaqueries)
#nav > a,
#navicon_hide { display: none !important; }
// .svg { display: none; } //*** uncomment before launch
//____________________________________________________
//  Header Base

header {
    @extend %centerMargin;
    position: relative;
    width: 100%;
    background: $color1;
    // &:after {
    //     @extend %noMargin;
    //     @extend %noPadding;
    //     content: " ";
    //     background: $color2;
    //     position: absolute;
    //     left: 0; right: 0;
    //     top: 100%;
    //     // height: $headerFooterLineBreakSize;
    //     width: 100%;    
    // }
}
//____________________________________________________
// $bp-large-min: $fontSize1 * 1000 ;       //*1000px*/
// target/context = size
// target/1000px = size
    %tier2containers {
        position: relative;
        display: inline-block;
        height: (( $navFontSize * 1.4 ) + ( $fontSize2 * 2)) * 4;
        line-height: (( $navFontSize * 1.4 ) + ( $fontSize2 * 2)) * 4;
    }
    %tier3containers {
        // line-height: normal;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

    #logo_container {
        @extend %tier2containers;
        width: 20%; //200px/1000px 
        img {
            @extend %tier3containers ;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
    #nav {
        @extend %tier2containers;
        text-align: right;
        width: 80%;
        // background: blue;
        ul {
            @extend %tier3containers ;
            line-height: normal;
            // background: yellow;
            li {
                display: inline-block;
                a {
                    // background: pink;
                    padding: 0 $fontSize12;
                    line-height: $navFontSize * 1.4;
                    margin: $fontSize2;
                    display: inline-block;
                }
            }
        }
    }
