//____________________________________________________
//navicon (only available for xsmall screens in browsers that support mediaqueries)
#nav > a,
#navicon_hide { display: none !important; }
//____________________________________________________
//  Header Base

header {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: $color1;
}
//____________________________________________________
// target/context = size
    %tier2containers {
        position: relative;
        display: inline-block;
        height: (( $navFontSize * 1.4 ) + ( $fontSize2 * 2)) * 4;
        line-height: (( $navFontSize * 1.4 ) + ( $fontSize2 * 2)) * 4;
    }
    %tier3containers {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

    #logo_container {
        @extend %tier2containers;
        width: 20%; //200px/1000px 
        img {
            @extend %tier3containers ;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
    #nav {
        @extend %tier2containers;
        text-align: right;
        width: 80%;
        ul {
            @extend %tier3containers ;
            line-height: normal;
            li {
                display: inline-block;
                a {
                    padding: 0 $fontSize12;
                    line-height: $navFontSize * 1.4;
                    margin: $fontSize2;
                    display: inline-block;
                }
            }
        }
    }
