header {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: $color1;
    // &:after {
    //     // LineBreak After Header
    //     content: " ";
    //     position: absolute;
    //     left: 0; right: 0;
    //     top: 100%;
    //     height: $headerFooterLineBreakSize;
    //     width: 100%;   
    //     padding: 0;
    //     margin: 0;
    //     background: $color2;
    // }
}
#nav > a, 
#nav li:last-of-type  { 
    display: none; //hidden unless xsmall screen #nav:target
}  


